@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Lato;
    margin: 0;
}

.Main-Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 30px;  
}

.flex-logo {
    display: flex;

}

.Main-Nav img {
    width: 60px;
    margin-right: 1.2rem;
}

.Form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 30px;
    padding: 30px;
    width: 60vw;
    transform: translate(30%);
}

.form-input {
    border-radius: 10px;
}

.form-submit {
    grid-column: 1 / -1;
}